/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sprite-article-one-title-name: 'sprite-article-one-title';
$sprite-article-one-title-x: 725px;
$sprite-article-one-title-y: 441px;
$sprite-article-one-title-offset-x: -725px;
$sprite-article-one-title-offset-y: -441px;
$sprite-article-one-title-width: 68px;
$sprite-article-one-title-height: 36px;
$sprite-article-one-title-total-width: 844px;
$sprite-article-one-title-total-height: 684px;
$sprite-article-one-title-image: '../img/sprite.png';
$sprite-article-one-title: (725px, 441px, -725px, -441px, 68px, 36px, 844px, 684px, '../img/sprite.png', 'sprite-article-one-title', );
$sprite-btn-green-name: 'sprite-btn-green';
$sprite-btn-green-x: 207px;
$sprite-btn-green-y: 598px;
$sprite-btn-green-offset-x: -207px;
$sprite-btn-green-offset-y: -598px;
$sprite-btn-green-width: 244px;
$sprite-btn-green-height: 45px;
$sprite-btn-green-total-width: 844px;
$sprite-btn-green-total-height: 684px;
$sprite-btn-green-image: '../img/sprite.png';
$sprite-btn-green: (207px, 598px, -207px, -598px, 244px, 45px, 844px, 684px, '../img/sprite.png', 'sprite-btn-green', );
$sprite-btn-leave-order-name: 'sprite-btn-leave-order';
$sprite-btn-leave-order-x: 207px;
$sprite-btn-leave-order-y: 549px;
$sprite-btn-leave-order-offset-x: -207px;
$sprite-btn-leave-order-offset-y: -549px;
$sprite-btn-leave-order-width: 301px;
$sprite-btn-leave-order-height: 49px;
$sprite-btn-leave-order-total-width: 844px;
$sprite-btn-leave-order-total-height: 684px;
$sprite-btn-leave-order-image: '../img/sprite.png';
$sprite-btn-leave-order: (207px, 549px, -207px, -549px, 301px, 49px, 844px, 684px, '../img/sprite.png', 'sprite-btn-leave-order', );
$sprite-btn-orange-arrow-name: 'sprite-btn-orange-arrow';
$sprite-btn-orange-arrow-x: 207px;
$sprite-btn-orange-arrow-y: 504px;
$sprite-btn-orange-arrow-offset-x: -207px;
$sprite-btn-orange-arrow-offset-y: -504px;
$sprite-btn-orange-arrow-width: 338px;
$sprite-btn-orange-arrow-height: 45px;
$sprite-btn-orange-arrow-total-width: 844px;
$sprite-btn-orange-arrow-total-height: 684px;
$sprite-btn-orange-arrow-image: '../img/sprite.png';
$sprite-btn-orange-arrow: (207px, 504px, -207px, -504px, 338px, 45px, 844px, 684px, '../img/sprite.png', 'sprite-btn-orange-arrow', );
$sprite-btn-orange-more-name: 'sprite-btn-orange-more';
$sprite-btn-orange-more-x: 451px;
$sprite-btn-orange-more-y: 598px;
$sprite-btn-orange-more-offset-x: -451px;
$sprite-btn-orange-more-offset-y: -598px;
$sprite-btn-orange-more-width: 248px;
$sprite-btn-orange-more-height: 35px;
$sprite-btn-orange-more-total-width: 844px;
$sprite-btn-orange-more-total-height: 684px;
$sprite-btn-orange-more-image: '../img/sprite.png';
$sprite-btn-orange-more: (451px, 598px, -451px, -598px, 248px, 35px, 844px, 684px, '../img/sprite.png', 'sprite-btn-orange-more', );
$sprite-btn-orange-name: 'sprite-btn-orange';
$sprite-btn-orange-x: 259px;
$sprite-btn-orange-y: 432px;
$sprite-btn-orange-offset-x: -259px;
$sprite-btn-orange-offset-y: -432px;
$sprite-btn-orange-width: 242px;
$sprite-btn-orange-height: 49px;
$sprite-btn-orange-total-width: 844px;
$sprite-btn-orange-total-height: 684px;
$sprite-btn-orange-image: '../img/sprite.png';
$sprite-btn-orange: (259px, 432px, -259px, -432px, 242px, 49px, 844px, 684px, '../img/sprite.png', 'sprite-btn-orange', );
$sprite-btn-small-green-name: 'sprite-btn-small-green';
$sprite-btn-small-green-x: 518px;
$sprite-btn-small-green-y: 360px;
$sprite-btn-small-green-offset-x: -518px;
$sprite-btn-small-green-offset-y: -360px;
$sprite-btn-small-green-width: 195px;
$sprite-btn-small-green-height: 32px;
$sprite-btn-small-green-total-width: 844px;
$sprite-btn-small-green-total-height: 684px;
$sprite-btn-small-green-image: '../img/sprite.png';
$sprite-btn-small-green: (518px, 360px, -518px, -360px, 195px, 32px, 844px, 684px, '../img/sprite.png', 'sprite-btn-small-green', );
$sprite-form-know-title-name: 'sprite-form-know-title';
$sprite-form-know-title-x: 725px;
$sprite-form-know-title-y: 0px;
$sprite-form-know-title-offset-x: -725px;
$sprite-form-know-title-offset-y: 0px;
$sprite-form-know-title-width: 119px;
$sprite-form-know-title-height: 216px;
$sprite-form-know-title-total-width: 844px;
$sprite-form-know-title-total-height: 684px;
$sprite-form-know-title-image: '../img/sprite.png';
$sprite-form-know-title: (725px, 0px, -725px, 0px, 119px, 216px, 844px, 684px, '../img/sprite.png', 'sprite-form-know-title', );
$sprite-header-prop-item-1-name: 'sprite-header-prop-item-1';
$sprite-header-prop-item-1-x: 0px;
$sprite-header-prop-item-1-y: 504px;
$sprite-header-prop-item-1-offset-x: 0px;
$sprite-header-prop-item-1-offset-y: -504px;
$sprite-header-prop-item-1-width: 207px;
$sprite-header-prop-item-1-height: 180px;
$sprite-header-prop-item-1-total-width: 844px;
$sprite-header-prop-item-1-total-height: 684px;
$sprite-header-prop-item-1-image: '../img/sprite.png';
$sprite-header-prop-item-1: (0px, 504px, 0px, -504px, 207px, 180px, 844px, 684px, '../img/sprite.png', 'sprite-header-prop-item-1', );
$sprite-header-prop-item-2-name: 'sprite-header-prop-item-2';
$sprite-header-prop-item-2-x: 518px;
$sprite-header-prop-item-2-y: 180px;
$sprite-header-prop-item-2-offset-x: -518px;
$sprite-header-prop-item-2-offset-y: -180px;
$sprite-header-prop-item-2-width: 207px;
$sprite-header-prop-item-2-height: 180px;
$sprite-header-prop-item-2-total-width: 844px;
$sprite-header-prop-item-2-total-height: 684px;
$sprite-header-prop-item-2-image: '../img/sprite.png';
$sprite-header-prop-item-2: (518px, 180px, -518px, -180px, 207px, 180px, 844px, 684px, '../img/sprite.png', 'sprite-header-prop-item-2', );
$sprite-header-prop-item-3-name: 'sprite-header-prop-item-3';
$sprite-header-prop-item-3-x: 259px;
$sprite-header-prop-item-3-y: 252px;
$sprite-header-prop-item-3-offset-x: -259px;
$sprite-header-prop-item-3-offset-y: -252px;
$sprite-header-prop-item-3-width: 207px;
$sprite-header-prop-item-3-height: 180px;
$sprite-header-prop-item-3-total-width: 844px;
$sprite-header-prop-item-3-total-height: 684px;
$sprite-header-prop-item-3-image: '../img/sprite.png';
$sprite-header-prop-item-3: (259px, 252px, -259px, -252px, 207px, 180px, 844px, 684px, '../img/sprite.png', 'sprite-header-prop-item-3', );
$sprite-header-prop-item-4-name: 'sprite-header-prop-item-4';
$sprite-header-prop-item-4-x: 518px;
$sprite-header-prop-item-4-y: 0px;
$sprite-header-prop-item-4-offset-x: -518px;
$sprite-header-prop-item-4-offset-y: 0px;
$sprite-header-prop-item-4-width: 207px;
$sprite-header-prop-item-4-height: 180px;
$sprite-header-prop-item-4-total-width: 844px;
$sprite-header-prop-item-4-total-height: 684px;
$sprite-header-prop-item-4-image: '../img/sprite.png';
$sprite-header-prop-item-4: (518px, 0px, -518px, 0px, 207px, 180px, 844px, 684px, '../img/sprite.png', 'sprite-header-prop-item-4', );
$sprite-ico-arrow-bottom-name: 'sprite-ico-arrow-bottom';
$sprite-ico-arrow-bottom-x: 725px;
$sprite-ico-arrow-bottom-y: 538px;
$sprite-ico-arrow-bottom-offset-x: -725px;
$sprite-ico-arrow-bottom-offset-y: -538px;
$sprite-ico-arrow-bottom-width: 26px;
$sprite-ico-arrow-bottom-height: 15px;
$sprite-ico-arrow-bottom-total-width: 844px;
$sprite-ico-arrow-bottom-total-height: 684px;
$sprite-ico-arrow-bottom-image: '../img/sprite.png';
$sprite-ico-arrow-bottom: (725px, 538px, -725px, -538px, 26px, 15px, 844px, 684px, '../img/sprite.png', 'sprite-ico-arrow-bottom', );
$sprite-ico-calendar-blue-name: 'sprite-ico-calendar-blue';
$sprite-ico-calendar-blue-x: 800px;
$sprite-ico-calendar-blue-y: 291px;
$sprite-ico-calendar-blue-offset-x: -800px;
$sprite-ico-calendar-blue-offset-y: -291px;
$sprite-ico-calendar-blue-width: 40px;
$sprite-ico-calendar-blue-height: 35px;
$sprite-ico-calendar-blue-total-width: 844px;
$sprite-ico-calendar-blue-total-height: 684px;
$sprite-ico-calendar-blue-image: '../img/sprite.png';
$sprite-ico-calendar-blue: (800px, 291px, -800px, -291px, 40px, 35px, 844px, 684px, '../img/sprite.png', 'sprite-ico-calendar-blue', );
$sprite-ico-calendar-name: 'sprite-ico-calendar';
$sprite-ico-calendar-x: 800px;
$sprite-ico-calendar-y: 326px;
$sprite-ico-calendar-offset-x: -800px;
$sprite-ico-calendar-offset-y: -326px;
$sprite-ico-calendar-width: 40px;
$sprite-ico-calendar-height: 35px;
$sprite-ico-calendar-total-width: 844px;
$sprite-ico-calendar-total-height: 684px;
$sprite-ico-calendar-image: '../img/sprite.png';
$sprite-ico-calendar: (800px, 326px, -800px, -326px, 40px, 35px, 844px, 684px, '../img/sprite.png', 'sprite-ico-calendar', );
$sprite-ico-checked-name: 'sprite-ico-checked';
$sprite-ico-checked-x: 829px;
$sprite-ico-checked-y: 441px;
$sprite-ico-checked-offset-x: -829px;
$sprite-ico-checked-offset-y: -441px;
$sprite-ico-checked-width: 15px;
$sprite-ico-checked-height: 16px;
$sprite-ico-checked-total-width: 844px;
$sprite-ico-checked-total-height: 684px;
$sprite-ico-checked-image: '../img/sprite.png';
$sprite-ico-checked: (829px, 441px, -829px, -441px, 15px, 16px, 844px, 684px, '../img/sprite.png', 'sprite-ico-checked', );
$sprite-ico-close-name: 'sprite-ico-close';
$sprite-ico-close-x: 725px;
$sprite-ico-close-y: 553px;
$sprite-ico-close-offset-x: -725px;
$sprite-ico-close-offset-y: -553px;
$sprite-ico-close-width: 19px;
$sprite-ico-close-height: 19px;
$sprite-ico-close-total-width: 844px;
$sprite-ico-close-total-height: 684px;
$sprite-ico-close-image: '../img/sprite.png';
$sprite-ico-close: (725px, 553px, -725px, -553px, 19px, 19px, 844px, 684px, '../img/sprite.png', 'sprite-ico-close', );
$sprite-ico-edit-name: 'sprite-ico-edit';
$sprite-ico-edit-x: 800px;
$sprite-ico-edit-y: 251px;
$sprite-ico-edit-offset-x: -800px;
$sprite-ico-edit-offset-y: -251px;
$sprite-ico-edit-width: 40px;
$sprite-ico-edit-height: 35px;
$sprite-ico-edit-total-width: 844px;
$sprite-ico-edit-total-height: 684px;
$sprite-ico-edit-image: '../img/sprite.png';
$sprite-ico-edit: (800px, 251px, -800px, -251px, 40px, 35px, 844px, 684px, '../img/sprite.png', 'sprite-ico-edit', );
$sprite-ico-minus-name: 'sprite-ico-minus';
$sprite-ico-minus-x: 800px;
$sprite-ico-minus-y: 401px;
$sprite-ico-minus-offset-x: -800px;
$sprite-ico-minus-offset-y: -401px;
$sprite-ico-minus-width: 40px;
$sprite-ico-minus-height: 35px;
$sprite-ico-minus-total-width: 844px;
$sprite-ico-minus-total-height: 684px;
$sprite-ico-minus-image: '../img/sprite.png';
$sprite-ico-minus: (800px, 401px, -800px, -401px, 40px, 35px, 844px, 684px, '../img/sprite.png', 'sprite-ico-minus', );
$sprite-ico-plus-name: 'sprite-ico-plus';
$sprite-ico-plus-x: 800px;
$sprite-ico-plus-y: 216px;
$sprite-ico-plus-offset-x: -800px;
$sprite-ico-plus-offset-y: -216px;
$sprite-ico-plus-width: 40px;
$sprite-ico-plus-height: 35px;
$sprite-ico-plus-total-width: 844px;
$sprite-ico-plus-total-height: 684px;
$sprite-ico-plus-image: '../img/sprite.png';
$sprite-ico-plus: (800px, 216px, -800px, -216px, 40px, 35px, 844px, 684px, '../img/sprite.png', 'sprite-ico-plus', );
$sprite-ico-selector-name: 'sprite-ico-selector';
$sprite-ico-selector-x: 800px;
$sprite-ico-selector-y: 366px;
$sprite-ico-selector-offset-x: -800px;
$sprite-ico-selector-offset-y: -366px;
$sprite-ico-selector-width: 40px;
$sprite-ico-selector-height: 35px;
$sprite-ico-selector-total-width: 844px;
$sprite-ico-selector-total-height: 684px;
$sprite-ico-selector-image: '../img/sprite.png';
$sprite-ico-selector: (800px, 366px, -800px, -366px, 40px, 35px, 844px, 684px, '../img/sprite.png', 'sprite-ico-selector', );
$sprite-lang-en-name: 'sprite-lang-en';
$sprite-lang-en-x: 762px;
$sprite-lang-en-y: 513px;
$sprite-lang-en-offset-x: -762px;
$sprite-lang-en-offset-y: -513px;
$sprite-lang-en-width: 37px;
$sprite-lang-en-height: 25px;
$sprite-lang-en-total-width: 844px;
$sprite-lang-en-total-height: 684px;
$sprite-lang-en-image: '../img/sprite.png';
$sprite-lang-en: (762px, 513px, -762px, -513px, 37px, 25px, 844px, 684px, '../img/sprite.png', 'sprite-lang-en', );
$sprite-lang-he-name: 'sprite-lang-he';
$sprite-lang-he-x: 799px;
$sprite-lang-he-y: 513px;
$sprite-lang-he-offset-x: -799px;
$sprite-lang-he-offset-y: -513px;
$sprite-lang-he-width: 36px;
$sprite-lang-he-height: 25px;
$sprite-lang-he-total-width: 844px;
$sprite-lang-he-total-height: 684px;
$sprite-lang-he-image: '../img/sprite.png';
$sprite-lang-he: (799px, 513px, -799px, -513px, 36px, 25px, 844px, 684px, '../img/sprite.png', 'sprite-lang-he', );
$sprite-lang-ru-name: 'sprite-lang-ru';
$sprite-lang-ru-x: 725px;
$sprite-lang-ru-y: 513px;
$sprite-lang-ru-offset-x: -725px;
$sprite-lang-ru-offset-y: -513px;
$sprite-lang-ru-width: 37px;
$sprite-lang-ru-height: 25px;
$sprite-lang-ru-total-width: 844px;
$sprite-lang-ru-total-height: 684px;
$sprite-lang-ru-image: '../img/sprite.png';
$sprite-lang-ru: (725px, 513px, -725px, -513px, 37px, 25px, 844px, 684px, '../img/sprite.png', 'sprite-lang-ru', );
$sprite-phone-block-name: 'sprite-phone-block';
$sprite-phone-block-x: 207px;
$sprite-phone-block-y: 643px;
$sprite-phone-block-offset-x: -207px;
$sprite-phone-block-offset-y: -643px;
$sprite-phone-block-width: 254px;
$sprite-phone-block-height: 30px;
$sprite-phone-block-total-width: 844px;
$sprite-phone-block-total-height: 684px;
$sprite-phone-block-image: '../img/sprite.png';
$sprite-phone-block: (207px, 643px, -207px, -643px, 254px, 30px, 844px, 684px, '../img/sprite.png', 'sprite-phone-block', );
$sprite-soc-fb-name: 'sprite-soc-fb';
$sprite-soc-fb-x: 793px;
$sprite-soc-fb-y: 441px;
$sprite-soc-fb-offset-x: -793px;
$sprite-soc-fb-offset-y: -441px;
$sprite-soc-fb-width: 36px;
$sprite-soc-fb-height: 36px;
$sprite-soc-fb-total-width: 844px;
$sprite-soc-fb-total-height: 684px;
$sprite-soc-fb-image: '../img/sprite.png';
$sprite-soc-fb: (793px, 441px, -793px, -441px, 36px, 36px, 844px, 684px, '../img/sprite.png', 'sprite-soc-fb', );
$sprite-soc-od-name: 'sprite-soc-od';
$sprite-soc-od-x: 725px;
$sprite-soc-od-y: 477px;
$sprite-soc-od-offset-x: -725px;
$sprite-soc-od-offset-y: -477px;
$sprite-soc-od-width: 36px;
$sprite-soc-od-height: 36px;
$sprite-soc-od-total-width: 844px;
$sprite-soc-od-total-height: 684px;
$sprite-soc-od-image: '../img/sprite.png';
$sprite-soc-od: (725px, 477px, -725px, -477px, 36px, 36px, 844px, 684px, '../img/sprite.png', 'sprite-soc-od', );
$sprite-soc-tw-name: 'sprite-soc-tw';
$sprite-soc-tw-x: 797px;
$sprite-soc-tw-y: 477px;
$sprite-soc-tw-offset-x: -797px;
$sprite-soc-tw-offset-y: -477px;
$sprite-soc-tw-width: 36px;
$sprite-soc-tw-height: 36px;
$sprite-soc-tw-total-width: 844px;
$sprite-soc-tw-total-height: 684px;
$sprite-soc-tw-image: '../img/sprite.png';
$sprite-soc-tw: (797px, 477px, -797px, -477px, 36px, 36px, 844px, 684px, '../img/sprite.png', 'sprite-soc-tw', );
$sprite-soc-vk-name: 'sprite-soc-vk';
$sprite-soc-vk-x: 761px;
$sprite-soc-vk-y: 477px;
$sprite-soc-vk-offset-x: -761px;
$sprite-soc-vk-offset-y: -477px;
$sprite-soc-vk-width: 36px;
$sprite-soc-vk-height: 36px;
$sprite-soc-vk-total-width: 844px;
$sprite-soc-vk-total-height: 684px;
$sprite-soc-vk-image: '../img/sprite.png';
$sprite-soc-vk: (761px, 477px, -761px, -477px, 36px, 36px, 844px, 684px, '../img/sprite.png', 'sprite-soc-vk', );
$sprite-travel-programs-tree-1-name: 'sprite-travel-programs-tree-1';
$sprite-travel-programs-tree-1-x: 725px;
$sprite-travel-programs-tree-1-y: 366px;
$sprite-travel-programs-tree-1-offset-x: -725px;
$sprite-travel-programs-tree-1-offset-y: -366px;
$sprite-travel-programs-tree-1-width: 75px;
$sprite-travel-programs-tree-1-height: 75px;
$sprite-travel-programs-tree-1-total-width: 844px;
$sprite-travel-programs-tree-1-total-height: 684px;
$sprite-travel-programs-tree-1-image: '../img/sprite.png';
$sprite-travel-programs-tree-1: (725px, 366px, -725px, -366px, 75px, 75px, 844px, 684px, '../img/sprite.png', 'sprite-travel-programs-tree-1', );
$sprite-travel-programs-tree-2-name: 'sprite-travel-programs-tree-2';
$sprite-travel-programs-tree-2-x: 725px;
$sprite-travel-programs-tree-2-y: 291px;
$sprite-travel-programs-tree-2-offset-x: -725px;
$sprite-travel-programs-tree-2-offset-y: -291px;
$sprite-travel-programs-tree-2-width: 75px;
$sprite-travel-programs-tree-2-height: 75px;
$sprite-travel-programs-tree-2-total-width: 844px;
$sprite-travel-programs-tree-2-total-height: 684px;
$sprite-travel-programs-tree-2-image: '../img/sprite.png';
$sprite-travel-programs-tree-2: (725px, 291px, -725px, -291px, 75px, 75px, 844px, 684px, '../img/sprite.png', 'sprite-travel-programs-tree-2', );
$sprite-travel-programs-tree-3-name: 'sprite-travel-programs-tree-3';
$sprite-travel-programs-tree-3-x: 725px;
$sprite-travel-programs-tree-3-y: 216px;
$sprite-travel-programs-tree-3-offset-x: -725px;
$sprite-travel-programs-tree-3-offset-y: -216px;
$sprite-travel-programs-tree-3-width: 75px;
$sprite-travel-programs-tree-3-height: 75px;
$sprite-travel-programs-tree-3-total-width: 844px;
$sprite-travel-programs-tree-3-total-height: 684px;
$sprite-travel-programs-tree-3-image: '../img/sprite.png';
$sprite-travel-programs-tree-3: (725px, 216px, -725px, -216px, 75px, 75px, 844px, 684px, '../img/sprite.png', 'sprite-travel-programs-tree-3', );
$sprite-why-we-item-1-name: 'sprite-why-we-item-1';
$sprite-why-we-item-1-x: 259px;
$sprite-why-we-item-1-y: 0px;
$sprite-why-we-item-1-offset-x: -259px;
$sprite-why-we-item-1-offset-y: 0px;
$sprite-why-we-item-1-width: 259px;
$sprite-why-we-item-1-height: 252px;
$sprite-why-we-item-1-total-width: 844px;
$sprite-why-we-item-1-total-height: 684px;
$sprite-why-we-item-1-image: '../img/sprite.png';
$sprite-why-we-item-1: (259px, 0px, -259px, 0px, 259px, 252px, 844px, 684px, '../img/sprite.png', 'sprite-why-we-item-1', );
$sprite-why-we-item-2-name: 'sprite-why-we-item-2';
$sprite-why-we-item-2-x: 0px;
$sprite-why-we-item-2-y: 252px;
$sprite-why-we-item-2-offset-x: 0px;
$sprite-why-we-item-2-offset-y: -252px;
$sprite-why-we-item-2-width: 259px;
$sprite-why-we-item-2-height: 252px;
$sprite-why-we-item-2-total-width: 844px;
$sprite-why-we-item-2-total-height: 684px;
$sprite-why-we-item-2-image: '../img/sprite.png';
$sprite-why-we-item-2: (0px, 252px, 0px, -252px, 259px, 252px, 844px, 684px, '../img/sprite.png', 'sprite-why-we-item-2', );
$sprite-why-we-item-3-name: 'sprite-why-we-item-3';
$sprite-why-we-item-3-x: 0px;
$sprite-why-we-item-3-y: 0px;
$sprite-why-we-item-3-offset-x: 0px;
$sprite-why-we-item-3-offset-y: 0px;
$sprite-why-we-item-3-width: 259px;
$sprite-why-we-item-3-height: 252px;
$sprite-why-we-item-3-total-width: 844px;
$sprite-why-we-item-3-total-height: 684px;
$sprite-why-we-item-3-image: '../img/sprite.png';
$sprite-why-we-item-3: (0px, 0px, 0px, 0px, 259px, 252px, 844px, 684px, '../img/sprite.png', 'sprite-why-we-item-3', );
$spritesheet-width: 844px;
$spritesheet-height: 684px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($sprite-article-one-title, $sprite-btn-green, $sprite-btn-leave-order, $sprite-btn-orange-arrow, $sprite-btn-orange-more, $sprite-btn-orange, $sprite-btn-small-green, $sprite-form-know-title, $sprite-header-prop-item-1, $sprite-header-prop-item-2, $sprite-header-prop-item-3, $sprite-header-prop-item-4, $sprite-ico-arrow-bottom, $sprite-ico-calendar-blue, $sprite-ico-calendar, $sprite-ico-checked, $sprite-ico-close, $sprite-ico-edit, $sprite-ico-minus, $sprite-ico-plus, $sprite-ico-selector, $sprite-lang-en, $sprite-lang-he, $sprite-lang-ru, $sprite-phone-block, $sprite-soc-fb, $sprite-soc-od, $sprite-soc-tw, $sprite-soc-vk, $sprite-travel-programs-tree-1, $sprite-travel-programs-tree-2, $sprite-travel-programs-tree-3, $sprite-why-we-item-1, $sprite-why-we-item-2, $sprite-why-we-item-3, );
$spritesheet: (844px, 684px, '../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
