/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sprite-btn-orange-name: 'sprite-btn-orange';
$sprite-btn-orange-x: 0px;
$sprite-btn-orange-y: 360px;
$sprite-btn-orange-offset-x: 0px;
$sprite-btn-orange-offset-y: -360px;
$sprite-btn-orange-width: 242px;
$sprite-btn-orange-height: 49px;
$sprite-btn-orange-total-width: 454px;
$sprite-btn-orange-total-height: 409px;
$sprite-btn-orange-image: '../img/sprite.png';
$sprite-btn-orange: (0px, 360px, 0px, -360px, 242px, 49px, 454px, 409px, '../img/sprite.png', 'sprite-btn-orange', );
$sprite-header-prop-item-1-name: 'sprite-header-prop-item-1';
$sprite-header-prop-item-1-x: 207px;
$sprite-header-prop-item-1-y: 180px;
$sprite-header-prop-item-1-offset-x: -207px;
$sprite-header-prop-item-1-offset-y: -180px;
$sprite-header-prop-item-1-width: 207px;
$sprite-header-prop-item-1-height: 180px;
$sprite-header-prop-item-1-total-width: 454px;
$sprite-header-prop-item-1-total-height: 409px;
$sprite-header-prop-item-1-image: '../img/sprite.png';
$sprite-header-prop-item-1: (207px, 180px, -207px, -180px, 207px, 180px, 454px, 409px, '../img/sprite.png', 'sprite-header-prop-item-1', );
$sprite-header-prop-item-2-name: 'sprite-header-prop-item-2';
$sprite-header-prop-item-2-x: 0px;
$sprite-header-prop-item-2-y: 0px;
$sprite-header-prop-item-2-offset-x: 0px;
$sprite-header-prop-item-2-offset-y: 0px;
$sprite-header-prop-item-2-width: 207px;
$sprite-header-prop-item-2-height: 180px;
$sprite-header-prop-item-2-total-width: 454px;
$sprite-header-prop-item-2-total-height: 409px;
$sprite-header-prop-item-2-image: '../img/sprite.png';
$sprite-header-prop-item-2: (0px, 0px, 0px, 0px, 207px, 180px, 454px, 409px, '../img/sprite.png', 'sprite-header-prop-item-2', );
$sprite-header-prop-item-3-name: 'sprite-header-prop-item-3';
$sprite-header-prop-item-3-x: 207px;
$sprite-header-prop-item-3-y: 0px;
$sprite-header-prop-item-3-offset-x: -207px;
$sprite-header-prop-item-3-offset-y: 0px;
$sprite-header-prop-item-3-width: 207px;
$sprite-header-prop-item-3-height: 180px;
$sprite-header-prop-item-3-total-width: 454px;
$sprite-header-prop-item-3-total-height: 409px;
$sprite-header-prop-item-3-image: '../img/sprite.png';
$sprite-header-prop-item-3: (207px, 0px, -207px, 0px, 207px, 180px, 454px, 409px, '../img/sprite.png', 'sprite-header-prop-item-3', );
$sprite-header-prop-item-4-name: 'sprite-header-prop-item-4';
$sprite-header-prop-item-4-x: 0px;
$sprite-header-prop-item-4-y: 180px;
$sprite-header-prop-item-4-offset-x: 0px;
$sprite-header-prop-item-4-offset-y: -180px;
$sprite-header-prop-item-4-width: 207px;
$sprite-header-prop-item-4-height: 180px;
$sprite-header-prop-item-4-total-width: 454px;
$sprite-header-prop-item-4-total-height: 409px;
$sprite-header-prop-item-4-image: '../img/sprite.png';
$sprite-header-prop-item-4: (0px, 180px, 0px, -180px, 207px, 180px, 454px, 409px, '../img/sprite.png', 'sprite-header-prop-item-4', );
$sprite-ico-arrow-bottom-name: 'sprite-ico-arrow-bottom';
$sprite-ico-arrow-bottom-x: 414px;
$sprite-ico-arrow-bottom-y: 110px;
$sprite-ico-arrow-bottom-offset-x: -414px;
$sprite-ico-arrow-bottom-offset-y: -110px;
$sprite-ico-arrow-bottom-width: 26px;
$sprite-ico-arrow-bottom-height: 15px;
$sprite-ico-arrow-bottom-total-width: 454px;
$sprite-ico-arrow-bottom-total-height: 409px;
$sprite-ico-arrow-bottom-image: '../img/sprite.png';
$sprite-ico-arrow-bottom: (414px, 110px, -414px, -110px, 26px, 15px, 454px, 409px, '../img/sprite.png', 'sprite-ico-arrow-bottom', );
$sprite-ico-calendar-name: 'sprite-ico-calendar';
$sprite-ico-calendar-x: 242px;
$sprite-ico-calendar-y: 360px;
$sprite-ico-calendar-offset-x: -242px;
$sprite-ico-calendar-offset-y: -360px;
$sprite-ico-calendar-width: 40px;
$sprite-ico-calendar-height: 35px;
$sprite-ico-calendar-total-width: 454px;
$sprite-ico-calendar-total-height: 409px;
$sprite-ico-calendar-image: '../img/sprite.png';
$sprite-ico-calendar: (242px, 360px, -242px, -360px, 40px, 35px, 454px, 409px, '../img/sprite.png', 'sprite-ico-calendar', );
$sprite-ico-checked-name: 'sprite-ico-checked';
$sprite-ico-checked-x: 414px;
$sprite-ico-checked-y: 125px;
$sprite-ico-checked-offset-x: -414px;
$sprite-ico-checked-offset-y: -125px;
$sprite-ico-checked-width: 15px;
$sprite-ico-checked-height: 16px;
$sprite-ico-checked-total-width: 454px;
$sprite-ico-checked-total-height: 409px;
$sprite-ico-checked-image: '../img/sprite.png';
$sprite-ico-checked: (414px, 125px, -414px, -125px, 15px, 16px, 454px, 409px, '../img/sprite.png', 'sprite-ico-checked', );
$sprite-ico-edit-name: 'sprite-ico-edit';
$sprite-ico-edit-x: 282px;
$sprite-ico-edit-y: 360px;
$sprite-ico-edit-offset-x: -282px;
$sprite-ico-edit-offset-y: -360px;
$sprite-ico-edit-width: 40px;
$sprite-ico-edit-height: 35px;
$sprite-ico-edit-total-width: 454px;
$sprite-ico-edit-total-height: 409px;
$sprite-ico-edit-image: '../img/sprite.png';
$sprite-ico-edit: (282px, 360px, -282px, -360px, 40px, 35px, 454px, 409px, '../img/sprite.png', 'sprite-ico-edit', );
$sprite-ico-minus-name: 'sprite-ico-minus';
$sprite-ico-minus-x: 322px;
$sprite-ico-minus-y: 360px;
$sprite-ico-minus-offset-x: -322px;
$sprite-ico-minus-offset-y: -360px;
$sprite-ico-minus-width: 40px;
$sprite-ico-minus-height: 35px;
$sprite-ico-minus-total-width: 454px;
$sprite-ico-minus-total-height: 409px;
$sprite-ico-minus-image: '../img/sprite.png';
$sprite-ico-minus: (322px, 360px, -322px, -360px, 40px, 35px, 454px, 409px, '../img/sprite.png', 'sprite-ico-minus', );
$sprite-ico-plus-name: 'sprite-ico-plus';
$sprite-ico-plus-x: 362px;
$sprite-ico-plus-y: 360px;
$sprite-ico-plus-offset-x: -362px;
$sprite-ico-plus-offset-y: -360px;
$sprite-ico-plus-width: 40px;
$sprite-ico-plus-height: 35px;
$sprite-ico-plus-total-width: 454px;
$sprite-ico-plus-total-height: 409px;
$sprite-ico-plus-image: '../img/sprite.png';
$sprite-ico-plus: (362px, 360px, -362px, -360px, 40px, 35px, 454px, 409px, '../img/sprite.png', 'sprite-ico-plus', );
$sprite-ico-selector-name: 'sprite-ico-selector';
$sprite-ico-selector-x: 414px;
$sprite-ico-selector-y: 0px;
$sprite-ico-selector-offset-x: -414px;
$sprite-ico-selector-offset-y: 0px;
$sprite-ico-selector-width: 40px;
$sprite-ico-selector-height: 35px;
$sprite-ico-selector-total-width: 454px;
$sprite-ico-selector-total-height: 409px;
$sprite-ico-selector-image: '../img/sprite.png';
$sprite-ico-selector: (414px, 0px, -414px, 0px, 40px, 35px, 454px, 409px, '../img/sprite.png', 'sprite-ico-selector', );
$sprite-lang-en-name: 'sprite-lang-en';
$sprite-lang-en-x: 414px;
$sprite-lang-en-y: 60px;
$sprite-lang-en-offset-x: -414px;
$sprite-lang-en-offset-y: -60px;
$sprite-lang-en-width: 37px;
$sprite-lang-en-height: 25px;
$sprite-lang-en-total-width: 454px;
$sprite-lang-en-total-height: 409px;
$sprite-lang-en-image: '../img/sprite.png';
$sprite-lang-en: (414px, 60px, -414px, -60px, 37px, 25px, 454px, 409px, '../img/sprite.png', 'sprite-lang-en', );
$sprite-lang-he-name: 'sprite-lang-he';
$sprite-lang-he-x: 414px;
$sprite-lang-he-y: 85px;
$sprite-lang-he-offset-x: -414px;
$sprite-lang-he-offset-y: -85px;
$sprite-lang-he-width: 36px;
$sprite-lang-he-height: 25px;
$sprite-lang-he-total-width: 454px;
$sprite-lang-he-total-height: 409px;
$sprite-lang-he-image: '../img/sprite.png';
$sprite-lang-he: (414px, 85px, -414px, -85px, 36px, 25px, 454px, 409px, '../img/sprite.png', 'sprite-lang-he', );
$sprite-lang-ru-name: 'sprite-lang-ru';
$sprite-lang-ru-x: 414px;
$sprite-lang-ru-y: 35px;
$sprite-lang-ru-offset-x: -414px;
$sprite-lang-ru-offset-y: -35px;
$sprite-lang-ru-width: 37px;
$sprite-lang-ru-height: 25px;
$sprite-lang-ru-total-width: 454px;
$sprite-lang-ru-total-height: 409px;
$sprite-lang-ru-image: '../img/sprite.png';
$sprite-lang-ru: (414px, 35px, -414px, -35px, 37px, 25px, 454px, 409px, '../img/sprite.png', 'sprite-lang-ru', );
$spritesheet-width: 454px;
$spritesheet-height: 409px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($sprite-btn-orange, $sprite-header-prop-item-1, $sprite-header-prop-item-2, $sprite-header-prop-item-3, $sprite-header-prop-item-4, $sprite-ico-arrow-bottom, $sprite-ico-calendar, $sprite-ico-checked, $sprite-ico-edit, $sprite-ico-minus, $sprite-ico-plus, $sprite-ico-selector, $sprite-lang-en, $sprite-lang-he, $sprite-lang-ru, );
$spritesheet: (454px, 409px, '../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
