@import 'import/reset';
@import 'import/variables';
@import 'import/buttons';
@import 'import/forms';
@import 'import/lists';
@import 'import/tables';
@import 'import/mixin';
@import 'sprite';

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $f-norm;
  line-height: $base-line-height;

  color: $base-font-color;
  background-color: $base-background-color;

  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;

  margin: 0 0 $small-spacing;
}
p,
pre {
  margin: 0 0 $small-spacing;
}
a {
  transition: $base-transition;
  text-decoration: none;

  color: $action-color;
  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }
  &:active,
  &:focus {
    color: lighten($action-color, 15%);
    outline: none;
  }
}
hr {
  margin: $base-spacing 0;

  border-top: none;
  border-right: none;
  border-bottom: $base-border;
  border-left: none;
}
img,
picture {
  max-width: 100%;
  margin: 0;
}
.wrapper {
  position: relative;

  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;

  @extend .clearfix;
}
.inner {
  position: relative;

  width: $width;
  margin: 0 auto;

  @extend .clearfix;
}

/*
  ****
  HEADER
  ****
*/

header {
  height: 900px;

  background-color: #fff;
  background-image: url(../img/bg/header.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  .inner-first {
    height: 180px;
  }
  .logo {
    position: absolute;
    top: 38px;
    left: 0;

    display: block;

    width: 320px;
    height: 78px;
    img {
      max-width: 100%;
    }
  }
  .header-select {
    position: absolute;
    top: 20px;
    left: 360px;

    width: 365px;
  }
  .phone-block,
  .social-block {
    position: absolute;
    right: 0;

    width: 260px;
  }
  .phone-block {
    top: 15px;
  }
  .social-block {
    top: 75px;
  }
  .head-title-block {
    height: 222px;

    text-align: center;

    background-image: url(../img/bg/head-title-block.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  .header-prop-block {
    @extend .clearfix;
    .header-prop-items {
      position: relative;

      float: left;

      width: 25%;
      padding: 175px 35px 0 0;
      &:before {
        @extend .dblock;
        position: absolute;
        top: 0;
        left: 0;
        content: '';
      }
    }
    .header-prop-item-1 {
      &:before {
        @include sprite($sprite-header-prop-item-1);
      }
    }
    .header-prop-item-2 {
      &:before {
        @include sprite($sprite-header-prop-item-2);
      }
    }
    .header-prop-item-3 {
      &:before {
        @include sprite($sprite-header-prop-item-3);
      }
    }
    .header-prop-item-4 {
      &:before {
        @include sprite($sprite-header-prop-item-4);
      }
    }
  }
}
.nav {
  position: relative;

  height: 64px;

  border-top: 1px solid $gray;
  border-bottom: 1px solid $gray;
  background-color: $blue;
  .headnav {
    width: $width;
    margin: 0 auto;
    padding: 0;

    @extend .justify-child;
    @extend .clearfix;
    > li {
      display: inline-block;

      padding: 20px;

      background-image: url(../img/bg/nav-li.png);
      background-repeat: no-repeat;
      background-position: center;
      &:last-child {
        width: 180px;

        background-image: none;
      }
      a {
        font-family: $fhncroman;

        text-decoration: none;
        text-transform: uppercase;

        color: #fff;
        &:hover {
          color: darken(#fff, 100%);
        }
      }
    }
    .lang-selector {
      width: 145px;

      @extend .justify-child;
      @extend .clearfix;
      li {
        display: inline-block;

        width: 39px;
        height: 25px;

        border: 1px solid $gray;
        a {
          display: block;

          width: 100%;
          height: 100%;

          opacity: .8;
          &:hover {
            opacity: 1;
          }
        }
      }
      .lang-ru {
        a {
          @include sprite($sprite-lang-ru);
        }
      }
      .lang-en {
        a {
          @include sprite($sprite-lang-en);
        }
      }
      .lang-he {
        a {
          @include sprite($sprite-lang-he);
        }
      }
    }
  }
  &:before {
    position: absolute;
    top: 0;
    right: 0;

    width: 611px;
    height: 61px;

    content: '';

    background-image: url(../img/bg/nav.png);
    background-repeat: no-repeat;

    @extend .dblock;
  }
}

/*
  ****
  CONTENT
  ****
*/

section {
  padding: 0 0 $footer;
}
article {
  @extend .clearfix;
}
.looper {
  @extend .clearfix;
}

/*
  ****
  FOOTER
  ****
*/

footer {
  height: $footer;
  margin: $footer_margin auto 0;

  background-color: $light-gray;
  .inner {
    height: $footer;
  }
}

/*
  ****
  IUNCLUDES
  ****
*/


@import 'fonts/base64/helveticaneue-black-webfont';
@import 'fonts/base64/helveticaneue-cyr-bold-webfont';
@import 'fonts/base64/helveticaneue-cyr-light-webfont';
@import 'fonts/base64/helveticaneue-cyr-roman-webfont';
@import 'fonts/base64/helveticaneue-medium-webfont';
@import 'base64';
@import 'import/print';
