@import 'import/reset';
@import 'sprite';
@import 'import/variables';
@import 'import/mixin';
@import 'import/buttons';
@import 'import/forms';
@import 'import/lists';
@import 'import/tables';



body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $f-norm;
  line-height: $base-line-height;

  color: $base-font-color;
  background-color: $base-background-color;

  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;

  margin: 0 0 $small-spacing;
}
p,
pre {
  margin: 0 0 $small-spacing;
}
a {
  transition: $base-transition;
  text-decoration: none;

  color: $action-color;
  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }
  &:active,
  &:focus {
    color: lighten($action-color, 15%);
    outline: none;
  }
}
hr {
  margin: $base-spacing 0;

  border-top: none;
  border-right: none;
  border-bottom: $base-border;
  border-left: none;
}
img,
picture {
  max-width: 100%;
  margin: 0;
}
.wrapper {
  position: relative;

  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;

  @extend .clearfix;
}
.inner {
  position: relative;

  width: $width;
  margin: 0 auto;

  @extend .clearfix;
}

/*
  ****
  HEADER
  ****
*/

header {
  height: 900px;

  background-color: #fff;
  background-image: url(../img/bg/header.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  .inner-first {
    height: 180px;
  }
  .logo {
    position: absolute;
    top: 38px;
    left: 0;

    display: block;

    width: 320px;
    height: 78px;
    img {
      max-width: 100%;
    }
  }
  .header-select {
    position: absolute;
    top: 20px;
    left: 360px;

    width: 365px;
  }
  .phone-block,
  .social-block {
    position: absolute;
    right: 0;

    width: 254px;
  }
  .phone-block {
    top: 15px;
    a,
    .free-call {
      display: block;
    }
    a {
      font-size: 28px;
      line-height: 1.1;

      height: 30px;
      margin-bottom: 8px;

      text-align: right;
      text-decoration: none;

      color: #000;

      @include sprite($sprite-phone-block);
      span {
        color: $light-gray;
      }
    }
    .free-call {
      font-family: $ftahoma;
      font-size: 15px;

      text-align: center;

      color: #000;
    }
  }
  .social-block {
    top: 80px;

    text-align: center;
    li {
      display: inline-block;

      width: 36px;
      height: 36px;

      opacity: .8;
      &:hover {
        opacity: 1;
      }
      a {
        display: block;
      }
    }
    .soc-fb {
      a {
        @include sprite($sprite-soc-fb);
      }
    }
    .soc-tw {
      a {
        @include sprite($sprite-soc-tw);
      }
    }
    .soc-od {
      a {
        @include sprite($sprite-soc-od);
      }
    }
    .soc-vk {
      a {
        @include sprite($sprite-soc-vk);
      }
    }
  }
  .head-title-block {
    height: 222px;

    text-align: center;

    background-image: url(../img/bg/head-title-block.png);
    background-repeat: no-repeat;
    background-position: center;
    .main-title,
    .second-title,
    .departure-from {
      font-family: $fhncroman;

      color: $medium-gray;
    }
    .main-title {
      font-size: 48px;

      margin: 0;
      padding: 0 0 20px;

      background-repeat: no-repeat;
      background-position: center bottom;
      span {
        font-family: $fhncbold;
      }
    }
    .second-title {
      font-size: 36px;
      line-height: 1;
      span {
        display: block;

        width: 700px;
        margin: 0 auto;
      }
    }
    .departure-from {
      font-size: 30px;
      line-height: 1;

      margin-bottom: 0;

      color: #000;
    }
  }
  .header-prop-block {
    @extend .clearfix;
    .header-prop-items {
      position: relative;

      float: left;

      width: 25%;
      padding: 175px 20px 0 0;
      h5 {
        font-family: $fhncmedium;

        position: relative;

        margin: 0 0 30px;

        text-align: center;
        text-transform: uppercase;
        &:after {
          position: absolute;
          right: 100px;
          bottom: -20px;
          left: 50px;

          height: 1px;

          background-color: $gray;

          @extend .dblock;
        }
      }
      ul {
        padding: 0;
        li {
          font-size: 16px;

          position: relative;

          margin: 0 0 10px;
          padding: 0 0 0 20px;
          &:before {
            position: absolute;
            top: 5px;
            left: 0;

            @extend .dblock;
            @include sprite($sprite-ico-checked);
          }
          span {
            font-family: $fhncbold;
          }
        }
      }
      &:before {
        position: absolute;
        top: 0;
        left: 0;

        @extend .dblock;
      }
    }
    .header-prop-item-1 {
      &:before {
        @include sprite($sprite-header-prop-item-1);
      }
    }
    .header-prop-item-2 {
      &:before {
        @include sprite($sprite-header-prop-item-2);
      }
    }
    .header-prop-item-3 {
      &:before {
        @include sprite($sprite-header-prop-item-3);
      }
    }
    .header-prop-item-4 {
      &:before {
        @include sprite($sprite-header-prop-item-4);
      }
    }
  }
}
.nav {
  position: relative;

  height: 64px;

  border-top: 1px solid $gray;
  border-bottom: 1px solid $gray;
  background-color: $blue;
  .headnav {
    width: $width;
    margin: 0 auto;
    padding: 0;

    @extend .justify-child;
    @extend .clearfix;
    > li {
      display: inline-block;

      padding: 20px;

      background-image: url(../img/bg/nav-li.png);
      background-repeat: no-repeat;
      background-position: center;
      &:last-child {
        width: 180px;

        background-image: none;
      }
      a {
        font-family: $fhncroman;

        text-decoration: none;
        text-transform: uppercase;

        color: #fff;
        &:hover {
          color: darken(#fff, 100%);
        }
      }
    }
    .lang-selector {
      width: 145px;

      @extend .justify-child;
      @extend .clearfix;
      li {
        display: inline-block;

        width: 39px;
        height: 25px;

        border: 1px solid $gray;
        a {
          display: block;

          width: 100%;
          height: 100%;

          opacity: .8;
          &:hover {
            opacity: 1;
          }
        }
      }
      .lang-ru {
        a {
          @include sprite($sprite-lang-ru);
        }
      }
      .lang-en {
        a {
          @include sprite($sprite-lang-en);
        }
      }
      .lang-he {
        a {
          @include sprite($sprite-lang-he);
        }
      }
    }
  }
  &:before {
    position: absolute;
    top: 0;
    right: 0;

    width: 611px;
    height: 61px;

    background-image: url(../img/bg/nav.png);
    background-repeat: no-repeat;

    @extend .dblock;
  }
}

/*
  ****
  CONTENT
  ****
*/

section {
  padding: 0 0 $footer;
}
article {
  @extend .clearfix;
}
.article-one-title {
  font-family: $fhncmedium;
  font-size: 30px;
  line-height: 1;

  position: relative;

  margin: 0;
  padding: 18px 0;

  text-align: center;

  color: #000;
  background-color: #f2efed;
  &:after {
    position: absolute;
    bottom: -36px;
    left: 50%;

    margin-left: -34px;

    @extend .dblock;
    @include sprite($sprite-article-one-title);
  }
  span {
    font-family: $fhncroman;
  }
}

.article-one {
  height: 2343px;
  padding-top: 35px;

  background-image: url(../img/bg/article-one.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  .article-one-price {
    font-size: 48px;

    position: relative;

    margin-bottom: 1px;

    text-align: center;

    color: #fff;
    &:before,
    &:after {
      position: absolute;
      top: 50%;

      width: 37%;
      height: 1px;

      background-color: #e2dcd6;

      @extend .dblock;
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }
  }
  .form-know-title {
    font-family: $fhncmedium;
    font-size: 60px;

    margin-bottom: 50px;

    text-align: center;
    text-transform: uppercase;

    color: #fff;
    span {
      position: relative;

      padding: 0 25px;
      &:after {
        position: absolute;
        top: 27px;
        right: -125px;

        @extend .dblock;
        @include sprite($sprite-form-know-title);
      }
    }
  }
  .form-know-price {
    position: relative;

    width: 674px;
    height: 470px;
    margin: 0 auto 60px;
    padding: 40px 40px 75px;

    background-repeat: no-repeat;
    background-position: center top;
    &:after {
      position: absolute;
      bottom: -10px;
      left: 50%;

      width: 300px;
      height: 10px;
      margin-left: -150px;

      background-color: $blue;

      @extend .dblock;
    }
    table {
      margin-bottom: 20px;
    }
    td {
      width: 275px;
      padding: 10px 0;

      border: 0;
      &:first-child {
        text-align: right;
        span {
          color: $red;
        }
      }
      &:last-child {
        width: 325px;

        text-align: center;
      }
    }
    .btn-orange {
      display: block;

      margin: 0 auto;
    }
  }
  .our-price {
    font-family: $fhncroman;
    font-size: 34px;

    margin-bottom: 40px;

    text-align: center;

    color: #000;
    span {
      font-family: $fhncbold;
    }
  }
  .why-we-block {
    margin-bottom: 145px;

    @extend .clearfix;
    .why-we-item {
      position: relative;

      float: left;

      width: 33.33%;
      padding: 280px 0 0;
      h6 {
        font-family: $fhncmedium;
        font-size: 24px;

        margin: 0 0 20px;

        text-align: center;
        text-transform: uppercase;

        color: #000;
      }
      ul {
        margin: 0;
        padding: 0 0 0 50px;
        li {
          position: relative;

          margin: 0 0 15px;
          padding: 0 0 0 20px;

          color: #000;
          &:before {
            position: absolute;
            top: 6px;
            left: 0;

            display: block;

            width: 13px;
            height: 13px;

            content: '';

            border-radius: 50%;
            background-color: $dark-gray;
          }
        }
      }
      &:before,
      &:after {
        position: absolute;

        @extend .dblock;
      }
      &:before {
        top: 0;
        left: 60px;
      }
      &:after {
        top: 100px;
        right: 0;

        width: 1px;
        height: 290px;

        background-color: $orange;
      }
      &:nth-child(1) {
        &:before {
          left: 0;

          @include sprite($sprite-why-we-item-1);
        }
        ul {
          padding: 0;
        }
      }
      &:nth-child(2) {
        &:before {
          @include sprite($sprite-why-we-item-2);
        }
      }
      &:nth-child(3) {
        &:before {
          @include sprite($sprite-why-we-item-3);
        }
        &:after {
          display: none;
        }
      }
    }
  }
  .one-year-sale-title {
    font-family: $fhncbold;
    font-size: 60px;

    margin-bottom: 45px;

    text-align: center;

    color: #fff;
  }
  .one-year-sale-subtitle {
    font-size: 22px;

    margin-bottom: 10px;

    text-align: center;

    color: #000;
  }
  .one-year-sale-container {
    position: relative;

    display: block;

    width: 100%;
    min-height: 600px;
    margin: 0;
    padding: 0;
    li {
      font-family: $fhncmedium;

      position: absolute;
      top: 55px;

      display: inline-block;

      padding-top: 110px;

      text-align: center;

      color: #fff;
      &:before {
        font-family: $fhncbold;
        font-size: 60px;
        line-height: 1.1;

        position: absolute;
        top: 0;

        display: block;

        width: 80px;
        height: 80px;

        text-align: center;

        color: $blue;
        border: 7px solid $blue;
        border-radius: 50%;
      }
      &:nth-child(1) {
        left: 10px;

        width: 195px;
        &:before {
          left: 50px;

          content: '1';
        }
      }
      &:nth-child(2) {
        left: 250px;

        width: 210px;
        &:before {
          left: 70px;

          content: '2';
        }
      }
      &:nth-child(3) {
        left: 505px;

        width: 220px;
        &:before {
          left: 70px;

          content: '3';
        }
      }
      &:nth-child(4) {
        left: 740px;

        width: 230px;
        &:before {
          left: 80px;

          content: '4';
        }
      }
      &:nth-child(5) {
        top: 365px;
        left: 765px;

        width: 230px;
        &:before {
          left: 70px;

          content: '5';
        }
      }
      &:nth-child(6) {
        top: 365px;
        left: 490px;

        width: 240px;
        &:before {
          left: 88px;

          content: '6';
        }
      }
      &:nth-child(7) {
        top: 365px;
        left: 143px;

        width: 301px;
        padding: 0;
        &:before {
          display: none;
        }
      }
    }
  }
}
.travel-programs-headline {
  font-family: $fhncbold;
  font-size: 60px;

  position: relative;

  margin: 0;
  padding: 60px 0 40px;

  text-align: center;

  color: $blue;
  background-color: $gray;
  span {
    display: block;

    color: #000;
  }
  &:after {
    position: absolute;
    z-index: 2;
    bottom: -70px;
    left: 50%;

    margin-left: -320px;

    @extend .dblock;
    @include triangle(640px 70px, $gray, down);
  }
}
.travel-programs {
  background-repeat: no-repeat;
  background-position: center top;
  .inner {
    height: 100%;
    min-height: 975px;
    padding: 150px 0 0;
  }
  .travel-program-title,
  .travel-program-subtitle {
    font-family: $fhncmedium;

    text-align: center;

    color: #fff;
  }
  .travel-program-title {
    font-size: 36px;

    margin: 0 0 20px;

    text-transform: uppercase;
  }
  .travel-program-subtitle {
    font-size: 24px;

    margin: 0 0 40px;
  }
  .travel-programs-three {
    text-align: center;

    @extend .clearfix;
  }
  .travel-programs-tree {
    position: relative;

    display: inline-block;
    overflow: hidden;

    height: 180px;
    padding: 105px 0 0;

    text-align: center;

    border: 2px dotted $dark-gray;
    &:before,
    &:after {
      position: absolute;

      display: block;

      content: '';
    }
    &:before {
      top: 3px;
      left: 50%;

      margin-left: -38px;
    }
    &:after {
      top: 60%;
      right: 0;
      bottom: 0;
      left: 0;

      background-color: $vlite-gray;
    }
    .loge {
      font-family: $fhncroman;
      font-size: 28px;

      position: relative;
      z-index: 2;

      color: #000;
      background-color: $vlite-gray;
      &:before {
        position: absolute;
        top: -30px;

        @extend .dblock;
      }
      span {
        font-family: $fhncbold;

        display: block;

        color: $green;
      }
    }
    form {
      display: none;
    }
  }
  .travel-programs-tree-left {
    float: left;

    width: 320px;
    &:before {
      @include sprite($sprite-travel-programs-tree-1);
    }
    .loge {
      &:before {
        @include triangle(320px 30px, $vlite-gray, down-right);
      }
    }
  }
  .travel-programs-tree-mid {
    width: 310px;

    border-left: 0;
    &:before {
      @include sprite($sprite-travel-programs-tree-2);
    }
    .loge {
      &:before {
        @include triangle(310px 30px, $vlite-gray, down-right);
      }
    }
  }
  .travel-programs-tree-rigth {
    float: right;

    width: 320px;
    &:before {
      @include sprite($sprite-travel-programs-tree-3);
    }
    .loge {
      &:before {
        @include triangle(320px 30px, $vlite-gray, down-right);
      }
    }
  }
  .travel-programs-detailed {
    position: absolute;
    right: 0;
    bottom: 45px;
    left: 0;

    height: 215px;

    @extend .clearfix;
    .travel-programs-more {
      float: left;

      width: 420px;
      padding-top: 25px;

      text-align: center;

      @extend .clearfix;
      h6 {
        font-size: 30px;

        text-transform: uppercase;

        color: $orange;
      }
      p {
        font-size: 20px;
        line-height: 1;

        width: 320px;
        margin: 0 auto 20px;

        color: #fff;
      }
      .btn-orange-more {
        float: left;
      }
    }
    .travel-programs-order {
      float: right;

      width: 580px;
      padding-top: 146px;
      input {
        display: inline-block;

        width: 260px;
        height: 38px;
        padding: 5px 10px 5px 30px;

        border: 1px dotted $blue;
        border-radius: 10px;
      }
    }
  }
}
.travel-programs-palom {
  background-image: url(../img/bg/travel-programs-palom.jpg);
}
.travel-programs-search {
  background-image: url(../img/bg/travel-programs-palom.jpg);
}
.travel-programs-evangel {
  background-image: url(../img/bg/travel-programs-evangel.jpg);
}
.travel-programs-northesouth {
  background-image: url(../img/bg/travel-programs-northesouth.jpg);
}
.travel-programs-active {
  background-image: url(../img/bg/travel-programs-active.jpg);
}
.travel-programs-actjude {
  background-image: url(../img/bg/travel-programs-actjude.jpg);
}
.travel-programs-unknowned {
  background-image: url(../img/bg/travel-programs-unknowned.jpg);
}
.share-with-friends {
  font-family: $fhncroman;

  padding: 25px 0;

  text-align: center;

  color: #000;
  background-color: $vlite-gray;
  .share-with-title {
    font-size: 30px;
    line-height: 1;

    text-transform: uppercase;
  }
  .share-with-shares {
    li {
      display: inline-block;

      width: 36px;
      height: 36px;
      margin: 0 5px;

      opacity: .8;
      &:hover {
        opacity: 1;
      }
      a {
        display: block;
      }
    }
    .soc-fb {
      a {
        @include sprite($sprite-soc-fb);
      }
    }
    .soc-tw {
      a {
        @include sprite($sprite-soc-tw);
      }
    }
    .soc-od {
      a {
        @include sprite($sprite-soc-od);
      }
    }
    .soc-vk {
      a {
        @include sprite($sprite-soc-vk);
      }
    }
  }
}
.reviews-artinews {
  padding-top: 65px;

  background-image: url(../img/bg/reviews-artinews.jpg);
  background-repeat: repeat-y;
  background-position: center top;
  background-size: cover;
  .reviews-title {
    font-family: $fhncmedium;
    font-size: 48px;

    position: relative;

    margin-bottom: 50px;

    text-align: center;
    text-transform: uppercase;

    color: #000;
    &:before,
    &:after {
      position: absolute;
      top: 50%;

      width: 40%;
      height: 1px;

      background-color: $gray;

      @extend .dblock;
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }
  }
  .reviews-item {
    display: inline-block;
    float: left;

    width: 480px;
    margin-bottom: 40px;
    padding: 35px 10px 10px;

    border: 1px dotted #000;
    background-repeat: no-repeat;
    background-position: center bottom;
    .reviews-programm {
      font-family: $fhncroman;
      font-size: 30px;

      color: #000;
      span {
        font-family: $fhncmedium;

        display: block;

        padding: 20px 15px;
      }
    }
    img {
      display: block;

      width: 296px;
      height: 196px;
      margin: 0 auto 40px;

      border: 2px solid $light-gray;
      border-radius: 3px;
    }
    .name {
      font-family: $fhncmedium;
      font-size: 24px;

      display: block;

      margin: 0 0 30px;

      color: $blue;
    }
    .blockquote {
      font-family: $fhncmedium;
      font-size: 24px;
      line-height: 1;

      position: relative;

      padding-left: 25px;
      &:before {
        font-family: $fhncbold;
        font-size: 46px;

        position: absolute;
        top: -40px;
        left: 0;

        content: ',,';
      }
    }
    .btn-small-green {
      float: right;
    }
    &:nth-child(2),
    &:nth-child(4) {
      float: right;
    }
  }
  .btn-orange-arrow {
    font-size: 18px;

    display: block;

    margin: 0 auto 80px;
    padding-left: 50px;

    background-repeat: no-repeat;
  }
  .last-artinews-title {
    font-size: 36px;

    position: relative;

    text-align: center;
    text-transform: uppercase;

    color: #000;
    &:before,
    &:after {
      position: absolute;
      top: 50%;

      width: 30%;
      height: 1px;

      background-color: $gray;

      @extend .dblock;
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }
  }
  .last-artinews-item {
    line-height: 1;

    float: left;

    width: 33.33%;
    height: 135px;
    margin-bottom: 50px;
    padding: 15px 15px;

    border-right: 1px solid $gray;
    .date,
    .read-more {
      font-size: 14px;
    }
    .date {
      color: $red;
    }
    .read-more {
      position: relative;

      float: right;

      margin-right: 40px;

      text-decoration: underline;

      color: $blue;
      &:after {
        position: absolute;
        top: 0;
        right: -20px;

        content: '  >>';
      }
    }
    &:last-child {
      border-right: 0;
    }
    img {
      float: left;

      margin-right: 10px;

      border: 1px solid $gray;
      border-radius: 3px;
    }
  }
}


/*
  ****
  FOOTER
  ****
*/

footer {
  height: $footer;
  margin: $footer_margin auto 0;

  background-color: $light-gray;
  .inner {
    height: $footer;
  }
}

/*
  ****
  IUNCLUDES
  ****
*/


@import 'fonts/base64/helveticaneue-black-webfont';
@import 'fonts/base64/helveticaneue-cyr-bold-webfont';
@import 'fonts/base64/helveticaneue-cyr-light-webfont';
@import 'fonts/base64/helveticaneue-cyr-roman-webfont';
@import 'fonts/base64/helveticaneue-medium-webfont';
@import 'base64';
@import 'import/print';
